
.grey-bg {
  background: $light-grey;
  color: $grey-text;
}

.purple-bg {
  background: $dark-purple;
  color: $white;
}

.gradient {
  background: rgb(224,25,82);
  background: linear-gradient(0deg, rgba(224,25,82,1) 0%, rgba(224,45,70,1) 38%, rgba(224,76,51,1) 100%);
}
