@import "backgrounds";
@import "padding";
@import "header-nav";
@import "footer";
@import "forms";

//Hero image
.hero {
  h1 {
    color: $realioo_purple;
  }
  h3 {
    color: $grey-text;
  }
  img {
    @media (max-width: breakpoint-min(md)) {
      display: block;
      margin: 0 auto;
      padding-top: 30px;
    }
  }
}
//two step form

.two-step-form {
  .wpcf7{
    max-width: 610px;
    margin: 0 auto;
  }
  .col-6 {
    padding: 0;
  }
}

//icon grid
.icon-grid {
  img {
    max-width: 100px;
  }
  h4 {
    padding-top: 18px;
  }
}


//pricing graphic
.pricing-columns {
  .point{
    border-bottom: 2px solid $grey-text;
  }
}

// Testimonials
.testimonials{
  h3 {
    font-style: italic;
  }
  .tab_active {
    display: block !important;
  }
  .tab_content {
    display: none;
  }
  #tabs1 {
    display: block;
    margin: 0 auto;
    a {
      width: 14px;
      height: 14px;
      background-color: $white;
      border-radius: 14px;
      display: inline-block;
      margin: 0 4px;
      &.active {
        background-color: $realioo_green;
      }
    }
  }
}
