.site-header {
  border-bottom: 1px solid $light-grey;
}
.navbar-brand {
  @media (max-width: 480px) {
    display: block;
    margin: 0 auto;
    width: 100%
  }
  img {
    max-width: 115px;
    @media (max-width: 480px) {
      display: block;
      margin: 0 auto;
    }
  }
}

.menu-primary-container{
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    float: left;
    margin: 0 10px;
    &.current_page_item {
      a {
        color: $realioo_purple;
      }
    }
    a {
      display: block;
      padding: 10px;
      font-size: 14px;
      font-weight: bold;
      color: $realioo_orange;
      &:hover {
        text-decoration: none;
        color: $realioo_purple;
      }
    }
  }
}

//specific to the Landing Page

.navbar-text {
  font-size: 14px;
  @media (max-width: 480px) {
    margin: 0 auto;
  }
  p {
    margin: 0 10px 0 0;
    color: $realioo_orange;
    float: left;
  }
  img {
    max-width: 10px;
  }
  a {
    color: $realioo_orange;
  }
}
