.site-header {
  border-bottom: 1px solid $light-grey;
}
.navbar-brand {
  @media (max-width: 480px) {
    display: block;
    margin: 0 auto;
    width: 100%
  }
  img {
    max-width: 115px;
    @media (max-width: 480px) {
      display: block;
      margin: 0 auto;
    }
  }
}
.navbar-nav li {
    margin: 0 20px;
}

//specific to the Landing Page

.navbar-text {
  font-size: 14px;
  @media (max-width: 480px) {
    margin: 0 auto;
  }
  p {
    margin: 0 10px 0 0;
    color: $realioo_orange;
    float: left;
  }
  img {
    max-width: 10px;
  }
  a {
    color: $realioo_orange;
  }
}
