.pad-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pad-50 {
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: breakpoint-max(sm)) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.pad-70 {
  padding-top: 70px;
  padding-bottom: 70px;
  @media (max-width: breakpoint-max(sm)) {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.pad-100 {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: breakpoint-max(sm)) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}


// single direction - top

.pad-30-top {
  @media (min-width: breakpoint-min(md)) {
    padding-top: 30px;
   }
}

.pad-50-top {
  padding-top: 50px;
  @media (max-width: breakpoint-max(sm)) {
    padding-top: 30px;
  }
}

.pad-70-top {
  padding-top: 70px;
  @media (max-width: breakpoint-max(sm)) {
    padding-top: 50px;
  }
}


.pad-100-top {
  padding-top: 100px;
  @media (max-width: breakpoint-max(sm)) {
    padding-top: 70px;
  }
}



// single direction - bottom

.pad-30-bottom {
  @media (min-width: breakpoint-min(md)) {
    padding-bottom: 30px;
   }
}

.pad-50-bottom {
  padding-bottom: 50px;
  @media (max-width: breakpoint-max(sm)) {
    padding-bottom: 30px;
  }
}

.pad-70-bottom {
  padding-bottom: 70px;
  @media (max-width: breakpoint-max(sm)) {
    padding-bottom: 50px;
  }
}

.pad-100-bottom {
  padding-bottom: 100px;
  @media (max-width: breakpoint-max(sm)) {
    padding-bottom: 70px;
  }
}
