body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
}

text-center {
	text-align: center;
}

@import "headings";

@import "copy";
