.buyers-page {
  .icon-grid {
    img {
      max-width: 100px;
    }
    h4 {
      padding-top: 18px;
    }
  }
  .module_5{
    .icon-grid {
      img {
        max-width: 130px;
      }
      h3 {
        padding: 23px 20px 0 20px;
      }
    }
  }
}
