.landing-page {
  //these might be global
  .hero {
    h1 {
      color: $realioo_purple;
    }
    h3 {
      color: $grey-text;
    }
  }

  //also might be Global

  .wpcf7 {
    font-size: 24px;
    label {
      color: $white;
      font-size: 18px;
    }
    input {
      width: 100%;
      background: rgba(255, 255, 255, .3);
      border: none;
      padding: 5px 14px;
      font-weight: 100;
      color: $white;
      &.wpcf7-form-control.wpcf7-submit {
      display: block;
      margin: 0 auto;
      background: $realioo_purple;
      padding: 7px 80px;
      max-width: 400px;
      font-weight: 300;
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $white;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $white;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $white;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $white;
      }
    }
    .wpcf7-validation-errors,
    .wpcf7-acceptance-missing {
      display: none !important
    }

    span.wpcf7-not-valid-tip {
      font-size: 14px;
      padding-top: 5px
      color: $realioo_purple;
    }
  }


  .module_5 {
    .container {
      max-width: 730px;
    }
    .pricing-columns {
      .point{
        border-bottom: 2px solid $grey-text;
      }
    }
  }

  .testimonials{
    h3 {
      font-style: italic;
    }
  }
}
