.sellers-page {
  .hero {
    h1 {
      max-width: 510px;
    }
  }
  .contact-form {
    margin: 0 auto;
    max-width: 590px;
    .col-6 {
      padding: 0;
    }
  }
  .module_5 {
    .container {
      max-width: 730px;
    }
  }
}
